{% extends 'base.html' %}

{% block content %}
    <h1 id="find_us"> Find Us Here</h1>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="row justify-content-center" style="padding:10px;">
{#                <a href="tel:18686817924">#}
                    <h4>
                       <i class="fas fa-mobile  "></i>
              +1 868-681-7924
          </h4>
{#                </a>#}


            </div>
            <div class="row justify-content-center" style="padding:10px;">
                <h4>
          <i class="fas fa-map-marker-alt"></i>
          63 High Street, San Fernando
      </h4>
            </div>
            <div class="row justify-content-center" style="padding:10px;">
                <div class="justify-content-center col-12 d-inline-block mb-4 text-center">
                    <h4 class="my-auto mx-3">
              <i class="far fa-clock"></i>
              Opening Times
          </h4>
                    <table class="mx-auto">
                        <tr>
                            <th>Sunday</th>
                            <td>Closed</td>
                        </tr>
                        <tr>
                            <th>Monday</th>
                            <td>9am - 5pm</td>
                        </tr>
                        <tr>
                            <th>Tuesday</th>
                            <td>9am - 5pm</td>
                        </tr>
                        <tr>
                            <th>Wednesday</th>
                            <td>9am - 5pm</td>
                        </tr>
                        <tr>
                            <th>Thursday</th>
                            <td>9am - 5pm</td>
                        </tr>
                        <tr>
                            <th>Friday</th>
                            <td>9am - 6pm</td>
                        </tr>
                        <tr>
                            <th>Saturday</th>
                            <td>9am - 6pm</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <iframe height="500" frameborder="0" style="border:0" class="w-100" src="https://www.google.com/maps/embed/v1/place?q=backpacks%20tt%20&key=AIzaSyCKgpOgoF8Tm_YrgMQNvciByqWjgeWK7Vk" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}
