{% extends 'base.html' %}
{% load static %}
{% load static nav_links %}

{% block top-nomargin %}
    <div class="container-fluid">

        {% include 'brand-images.html' %}
        {% include 'bag-carousel.html' %}
    </div>
{% endblock %}
{% block content %}
    <h3 class="text-center pb-3"> Follow us on Facebook and Instagram @backpackstt</h3>
    {% get_insta_photos as photos %}
    <div class="row">
        {% for a,b in photos %}
            <div class="col-12 col-sm-4 col-md-3 pb-4 b-img">
                <a href="{{ a }}">
                    <img src="{% static b %}">
                    <div class="main-card-center">
                        <i class="fab fa-instagram fa-lg icon"></i>
                    </div>


                </a>
            </div>
        {% endfor %}
    </div>


{% endblock %}